# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
*.env
.env.local

# Logs
*.log
output/log/

# Test coverage
.coverage
htmlcov/

# Project specific
fool/REAL_POWER_FEATURE_FOOL
output/
# data/
*.m